<!DOCTYPE html>
<html lang="es">
<!-- Cabecera de Documento -->
<%- include ('partials/dochead') %>
<body>
    <!-- Cabecera de Pagina -->
    <%- include('partials/header') %>
    <!-- Navegacion -->
    <%- include('partials/nav') %>
    <!-- Contenido Principal -->
    <main class="container py-4">
    <% if (users) { %>
        <%- include('layouts/users') %>
    <% } %>
    </main>
    <!-- Pie de Pagina -->
    <%- include('partials/footer') %>
</body>
</html>